h1 {border: 2px solid #949599;
    height: 35px;
    width: calc(100% - 24px);
    margin: 5px;
    padding: 5px;
    background-color: lightskyblue;
    color: mediumvioletred;
    font-family: "Times New Roman";
    text-decoration: none;
}

body  {
    /*TODO this shows an error because we are not giving it a real url path but it works*/
    background-image: url("/frontEndFiles/pictures/BFE_Home.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

form {
    font-family: "Times New Roman";
    background-color: lightskyblue;
    border: 2px solid #949599;
    height: auto;
    width: 135px;
    margin: 5px;
    padding: 5px;
}

a {
    position: relative;
    background-color: lightskyblue;
    bottom: 5px;
    left: 5px;
    margin: 5px;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}